#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 4vh;
  background: #C1E2FF;
  z-index: 1;
  text-align: center;
}
#navbar a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  padding: 0 1% 0 1%;
}
#navbar a:hover {
  background: #FFE2C1;
  font-weight: bold;
  box-shadow: 2px 2px 2px gray;
  border-radius: 1%;
  
}
#welcome-section {
  position: relative;
  background: #C1E2FF;
  height: 100vh;
}
#welcome-text {
  position: absolute;
  top: 50%;
  left: 15%;
  width: 70%;
  text-align: center;
}
h3 {
  padding-top: 20vh;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}
#project-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: linear-gradient(180deg, white, #FFE2C1); 
}
.project-tile {
  text-align: center;
  margin: 2% 5% 0 5%;
  width: 20%;
  padding: 5% 0 5% 0;
  background-color: #C1E2FF;
  box-shadow: 2px 2px 2px gray;
  border-radius: 1%;
}
.project-tile:hover {
  background: #FFF;
  animation-name: animation;
	animation-duration: 0.2s;
  font-weight: bold;
}
.project-tile a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}
#contact {
  background-color: #FFE2C1;
  height: 100vh;
}
#contacts-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-tile {
  text-align: center;
  background: #C1E2FF;
  width: 20%;
  box-shadow: 2px 2px 2px gray;
  border-radius: 1%;
  padding: 2% 1% 2% 1%;
  margin: 2%;
}
.contact-tile:hover {
  background: #FFF;
  animation-name: animation;
	animation-duration: 0.2s;
  font-weight: bold;
}
.contact-tile a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}
@media (max-width:700px) {
  .project-tile, contact-tile {
    width: 50%;
    height: 50%;
  }
}
@keyframes animation {
  from {transform: perspective(0px) translateZ(0px);}
  to {transform: perspective(5000px) translateZ(200px);}
}
