#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 22px;
  background: #BBF7C6;
  z-index: 1;
  text-align: center;
}
#navbar a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  padding: 1% 1% 0.5% 1%;
  font-family: 'Josefin Sans', sans-serif;
}
#navbar a:hover {
  background: #FFF;
  font-weight: bold;
  box-shadow: 2px 2px 2px gray;
  border-radius: 1%;
  font-family: 'Josefin Sans', sans-serif;
}
#welcome-section {
  position: relative;
  background: linear-gradient(180deg, #BBF7C6, #FFF);
  height: 100vh;
}
#welcome-text {
  position: absolute;
  top: 50%;
  left: 15%;
  width: 70%;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
}
h3 {
  padding-top: 20vh;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Josefin Sans', sans-serif;
}
#projects {
  background: #FFF; 
}
#project-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.project-tile {
  text-align: center;
  text-decoration: none;
  margin: 2% 5% 0 5%;
  width: 20%;
  padding: 5% 0 5% 0;
  background: #BBF7C6;
  box-shadow: 2px 2px 2px gray;
  border-radius: 1%;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  color: black;
}
.project-tile:hover {
  background: #FFF;
  animation-name: animation;
  animation-duration: 0.5s;
  color: black;
  font-weight: bold;
  font-family: 'Josefin Sans', sans-serif;
  text-decoration: none;
}
#contact {
  background: linear-gradient(180deg, #FFF, #BBF7C6); 
  height: 100vh;
  font-family: 'Josefin Sans', sans-serif;
}
#contacts-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-tile {
  text-align: center;
  background: #BBF7C6;
  width: 20%;
  box-shadow: 2px 2px 2px gray;
  border-radius: 1%;
  padding: 2% 1% 2% 1%;
  text-decoration: none;
  color: black;
  margin: 2%;
  text-transform: uppercase;
  font-family: 'Josefin Sans', sans-serif;
}
.contact-tile:hover {
  background: #FFF;
  text-decoration: none;
  color: black;
  animation-name: animation;
  animation-duration: 0.2s;
  font-weight: bold;
  font-family: 'Josefin Sans', sans-serif;
}
@media (max-width:700px) {
  .project-tile, contact-tile {
    width: 50%;
    height: 50%;
  }
}
@keyframes animation {
  from {transform: perspective(0px) translateZ(0px);}
  to {transform: perspective(5000px) translateZ(200px);}
}
