#header {
  font-size: 80%;
  text-align: center;
  width: 50%;
  background-color: lightblue;
  margin: 0 auto;
}  
#main {
  margin: 0 auto;
  width: 50%;
}
#img-div {
  background-color: #DDD;
  width: 50%;
  border-radius: 5%;
  margin: 0 auto;
  text-align: center;
}
#image {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}
#img-caption {
  font-size: 1.2vw;
}
#quotes {
  font-weight: bold;
  font-style: italic;
  position: relative;
}
#q1 {
  position: absolute;
  width: 48%;
  background-color: lightblue;
  border: 3px solid black;
  left: 0;
}
#q2 {
  position: absolute;
  width: 48%;
  background-color: lightblue;
  border: 3px solid black;
  right: 0;
}